{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="jumbotron">
    {% if is_granted('ROLE_ADMIN') %}
    <h1>Registrar nuevo usuario</h1>
    <div class="text-right">
    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn btn-block btn-success">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    {% else %}
    <h2>No tiene acceso a esta parte de la aplicaci&oacute;n</h2>
    <a href="{{ path('app_roles_show') }}" class="btn btn-block btn-success">Regresar</a>
    {% endif %}
    </div>
{% endblock %}
